tls-san:
  - {{ inventory_hostname }}
  - {{ tls_san }}
node-label:
  - name={{ inventory_hostname }}
token: "{{ cluster_token }}"
etcd-snapshot-dir: {{ etcd_snapshot_dir }}
{% if is_first_master %}
cluster-init: "{{ is_first_master }}"
{% else %}
server: https://{{ first_master_hostname }}:6443
{% endif %}
